<h1>my random number form</h1>



<form action="/random/results">
    <label for="min_number">
    Minimum
    </label>
    <input id="min_number" type="text" placeholder="E.g. 1.5" number="user_min">
  <br>
    <label for="max_number">
    Maximum
    </label>
    <input id="max_number" type="text" placeholder="E.g. 4.5" number="user_max">
  <br>
    <button>
      Pick random number
    </button>
</form>
