

<head>

</head>

<body>
  
  <form action="/random/results">
    <div>
      <label for="min_number">
        Minimum
      </label>
      <input id="min_number" type="text" placeholder="E.g. 1.5" name="user_min">
    </div>
    <div>
      <label for="max_number">
        Maximum
      </label>
      <input type="max_number" type="text" placeholder="E.g. 4.5" name="user_max">
    </div>
    <div>
      <button>
        Pick random number
      </button>
    </div>
  </form>



</body>
