<head>
</head>

<body>

  <form action="/square_root/results">
    <label for="number_to_square_root">
      Enter a number
    </label>
    <input id="number_to_square_root" type="text" placeholder="What do you want to square root?" name="user_number">
    <br>
    <button>
      Calculate square root
    </button>
  </form>

</body>
